{% extends 'base.html'%}

{% block content%}


{% for message in get_flashed_messages() %}
    <img src="{{ url_for('static', filename='images/happy_face.jpg')}}" width=1000>
    <br/>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Sluiten"></button>
    </div>
{% endfor %}


{% if current_user.is_authenticated %}
    <h1>
        Gebruikers.
    </h1>
    <br/>

    <table class="table caption-top">
        <caption>Gebruikers</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naam</th>
            <th scope="col">Gebruikersnaam</th>
            <th scope="col">Email</th>
            <th scope="col">Favoriete kleur</th>
            <th scope="col">Verwijderen</th>
          </tr>
        </thead>
        <tbody>
            {% for gebruiker in gebruikers %}
                <tr>
                    <th scope="row">{{ gebruiker.id }}</th>
                    <td><a href="{{ url_for('update', id=gebruiker.id)}}">{{ gebruiker.name }}</a></td>
                    <td>{{ gebruiker.username }}</td>
                    <td>{{ gebruiker.email }}</td>
                    <td>{{ gebruiker.favo_kl }}</td>
                    <td><a href="{{ url_for('delete', id=gebruiker.id)}}" class="btn btn-outline-danger btn-sm"> Del </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>
        Gebruiker toevoegen.
    </h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-success-subtle rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(
                class="form-label"
            ) }}
            {{ form.name(
                class="form-control border-success"
            ) }}
            <br/>
            {{ form.username.label(
                class="form-label"
            ) }}
            {{ form.username(
                class="form-control border-success"
            ) }}
            <br/>
            {{ form.email.label(
                class="form-label"
            ) }}
            {{ form.email(
                class="form-control border-success"
            ) }}
            <br/>
            {{ form.favo_kl.label(
                class="form-label"
            ) }}
            {{ form.favo_kl(
                class="form-control border-success"
            ) }}
            <br/>
            {{ form.pw_hash.label(
                class="form-label"
            ) }}
            {{ form.pw_hash(
                class="form-control border-success"
            ) }}
            <br/>
            {{ form.pw_hash2.label(
                class="form-label"
            ) }}
            {{ form.pw_hash2(
                class="form-control border-success"
            ) }}
            <br/>
            {{ form.submit(
                class="btn btn-success"
            ) }}
        </form>
    </div>

    <br/>
{% endif %}
 
{% endblock %}
