{% extends 'base.html'%}

{% block content%}


{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Sluiten"></button>
    </div>
{% endfor %}

    <h2>
        Dashboard.
    </h2>
    <br/>
    <div class="card">
        <div class="card-header">
            {{ current_user.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Welkom. Dit is je Dashboard</h5>
            <p class="card-text">
                <strong>Naam: </strong>{{ current_user.name }}</br>
                <strong>gebruikersnaam: </strong>{{ current_user.username }}</br>
                <strong># : </strong>{{ current_user.id }}</br>
                <strong>Email: </strong>{{ current_user.email }}</br>
                <strong>Favoriete kleur: </strong>{{ current_user.favo_kl }}</br>
                <strong>Lid sinds: </strong>{{ current_user.dates }}</br>    
            </p>
            <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-succes btn-sm">Bewerken</a>
            <a href="{{ url_for('logout') }}" class="btn btn-warning btn-sm">Uitloggen</a>
            <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger">Profiel verwijderen</a>
        </div>
    </div>
    <br/><br/>





{% endblock %}
