{% extends 'base.html'%}

{% block content%}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Sluiten"></button>
    </div>
{% endfor %}
 
<h1>Berichten...</h1>
<br/>

{% for post in posts %}
    <div class="shadow p-3 mb-5 bg-success-subtle rounded">
        <h2>
            {{ post.title }}
            <br/>
        </h2>
        Bericht van: {{ post.author }}<br/>
        {{ post.date_posted }}<br/>
        {{ post.content }}
        <br/>
        <br/>
        <a href="{{ url_for('post', id=post.id)}} " class = "btn btn-success btn-sm">
            Ga naar bericht
        </a>
        <a href="{{ url_for('post_edit', id=post.id)}} " class = "btn btn-outline-success btn-sm">
            Bewerken
        </a>
        <a href="{{ url_for('post_delete', id=post.id)}}" class="btn btn-outline-danger btn-sm">
            Verwijderen
        </a>
    </div>
    <br/>
{% endfor %}

{% endblock %}