{% extends 'base.html'%}

{% block content%}


{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Hoi {{ name }}, {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Sluiten"></button>
    </div>
{% endfor %}


{% if email %}
    <h1>
        Email {{ email }} <br/>
        Wachtwoord: {{ password }}
    </h1>
    <br/>
    <h2>
        Naam: {{ user_to_check.name }} <br/>
        Email: {{ user_to_check.email }} <br/>
        Hash: {{ user_to_check.pw_hash }} <br/>
        Passed: {{ passed }}
        {{ user_to_check }}
    </h2>   
    <br/>
{% else %}
    <h1>
        Wat is je email en wachtwoord??
    </h1>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label(
            class="form-label"
        ) }}
        {{ form.email(
            class="form-control"
        ) }}
        <br/>
        {{ form.pw_hash.label(
            class="form-label"
        ) }}
        {{ form.pw_hash(
            class="form-control"
        ) }}
        <br/>
        {{ form.submit(
            class="btn btn-success"
        ) }}
    </form>
{% endif %}

{% endblock %}